/*----------style Tree----------------------*/

ul, #myUL {
 list-style-type: none;
 font-size: 18px;
}

#myUL {
 margin: 0;
 padding: 0;
}

.box {
 cursor: pointer;
 -webkit-user-select: none; /* Safari 3.1+ */
 -moz-user-select: none; /* Firefox 2+ */
 -ms-user-select: none; /* IE 10+ */
 user-select: none;
}

.box::before {
 content: "\2610";
 color: black;
 display: inline-block;
 margin-right: 6px;
}

.check-box::before {
 content: "\2611";
 color: dodgerblue;
}

.nested {
 display: none;
}

.active {
 display: block;
}

/*----------END style Tree----------------------*/



.top-desc{
 background-color: rgba(11, 208, 228, 0.43);
}

.block{
 margin-top: 50px;
}


/*-------table list--------*/
  table {
  width: 100%;
  border-collapse: collapse;
 }


/* Zebra striping */

tr:nth-of-type(odd) {
 background: #f4f4f4;
}

tr:nth-of-type(even) {
 background: #fff;
}

th {
 background: #782f40;
 color: #ffffff;
 font-weight: 300;
}

td,
th {
 padding: 10px;
 border: 1px solid #ccc;
 text-align: left;
}

td:nth-of-type(1) {
 font-weight: 500 !important;
}

td {
 font-family: 'Roboto', sans-serif !important;
 font-weight: 300;
 line-height: 20px;
}

span {
 font-style: italic
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

 /* Force table to not be like tables anymore */
 table.responsive,
 .responsive thead,
 .responsive tbody,
 .responsive th,
 .responsive td,
 .responsive tr {
  display: block !important;
 }

 /* Hide table headers (but not display: none;, for accessibility) */
 .responsive thead tr {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
 }

 .responsive tr {
  border: 1px solid #ccc;
 }

 .responsive td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee !important;
  position: relative !important;
  padding-left: 25% !important;
 }

 .responsive td:before {
  /* Now like a table header */
  position: absolute !important;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap !important;
  font-weight: 500 !important;
 }

 /*
   Label the data
   */
 .responsive td:before {
  content: attr(data-table-header) !important;
 }
}

/*-------END table list--------*/




